.album-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 90px auto;
  max-width: 1400px;
}

.image-container {
  cursor: pointer;
  position: relative;
}

.album-cover {
  width: 200px;
}

.small-icon {
  width: 20px;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

h2 {
  font-size: 14px;
  color: white;
  width: 200px;
  margin-bottom: 3px;
}

h5 {
  font-size: 12;
  color: lightgray;
  opacity: 0.5;
  font-weight: lighter;
  margin-top: 0;
}

/* Bakground Color Gradient Animation */

body {
  background: linear-gradient(270deg, #1b1b1b, #231d1d, #000000, #2d2d2d);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
